Repository PythonOT/POT, pull requests merged in 2025-08, with the labels that each got.

#741 [MRG] Partial optimal transport 1d solver
  .github/labeler.yml
  .github/workflows/build_doc.yml
  .gitignore
  README.md
  RELEASES.md
  examples/unbalanced-partial/plot_partial_1d.py
  ot/partial/__init__.py
  ot/partial/partial_cython.pyx
  ot/partial/partial_solvers.py
  setup.py
  test/test_partial.py
Labels: CI, Tests, Examples

#754 [MRG] Update doc and exemples
  CONTRIBUTORS.md
  README.md
  RELEASES.md
  docs/source/conf.py
  examples/README.txt
  examples/backends/README.txt
  examples/backends/index.rst
  examples/barycenters/index.rst
  examples/barycenters/plot_free_support_sinkhorn_barycenter.py
  examples/domain-adaptation/index.rst
  examples/domain-adaptation/plot_otda_classes.py
  examples/domain-adaptation/plot_otda_d2.py
  examples/domain-adaptation/plot_otda_laplacian.py
  examples/domain-adaptation/plot_otda_semi_supervised.py
  examples/gaussian_gmm/index.rst
  examples/gaussian_gmm/plot_GMMOT_plan.py
  examples/gaussian_gmm/plot_GMM_flow.py
  examples/gromov/README.txt
  examples/gromov/index.rst
  examples/gromov/plot_barycenter_fgw.py
  examples/index.rst
  examples/lowrank/index.rst
  examples/lowrank/plot_factored_coupling.py
  examples/lowrank/plot_lowrank_GW.py
  examples/lowrank/plot_lowrank_sinkhorn.py
  examples/others/index.rst
  examples/others/plot_COOT.py
  examples/others/plot_dmmot.py
  examples/others/plot_outlier_detection_with_COOT_and_unbalanced_COOT.py
  examples/others/plot_screenkhorn_1D.py
  examples/plot_OT_1D.py
  examples/plot_OT_1D_smooth.py
  examples/plot_OT_2D_samples.py
  examples/plot_compute_emd.py
  examples/plot_optim_OTreg.py
  examples/plot_quickstart_guide.py
  examples/sliced-wasserstein/README.txt
  examples/sliced-wasserstein/index.rst
  examples/sliced-wasserstein/plot_compute_wasserstein_circle.py
  examples/sliced-wasserstein/plot_variance_ssw.py
  examples/unbalanced-partial/index.rst
  examples/unbalanced-partial/plot_UOT_barycenter_1D.py
  examples/unbalanced-partial/plot_partial_wass_and_gromov.py
Labels: documentation, Examples

#736 [MRG] Linear Circular OT
  README.md
  RELEASES.md
  examples/backends/plot_ssw_unif_torch.py
  examples/sliced-wasserstein/plot_compute_wasserstein_circle.py
  ot/__init__.py
  ot/lp/__init__.py
  ot/lp/solver_1d.py
  ot/sliced.py
  test/test_1d_solver.py
  test/test_sliced.py
Labels: Tests, ot.lp, Examples, ot.sliced
