Repository PythonOT/POT, pull requests merged in 2025-01, with the labels that each got.

#709 [MRG] Refactor: improve readibility in the convolutional module
  RELEASES.md
  ot/bregman/_convolutional.py
Labels: Tests

#710 [DOC] Improve documentation rendering
  RELEASES.md
  ot/gromov/_lowrank.py
  ot/gromov/_partial.py
  ot/lp/solver_1d.py
  ot/plot.py
  ot/solvers.py
  ot/unbalanced/_sinkhorn.py
  ot/utils.py
Labels: ot.utils, ot.gromov, ot.solvers, ot.lp, ot.unbalanced, ot.plot

#718 [MRG] docs: fix missing delimeter for left
  RELEASES.md
  ot/gaussian.py
Labels: ot.gaussian
