Repository PythonOT/POT, pull requests merged in 2025-03, with the labels that each got.

#702 [MRG] Partial Entropic FGW solvers
  README.md
  RELEASES.md
  examples/gromov/plot_barycenter_fgw.py
  examples/gromov/plot_partial_fgw.py
  examples/unbalanced-partial/plot_partial_wass_and_gromov.py
  ot/gromov/__init__.py
  ot/gromov/_partial.py
  ot/solvers.py
  test/gromov/test_partial.py
  test/test_solvers.py
Labels: Tests, ot.gromov, ot.solvers, Examples

#680 [MRG] Bures-Wasserstein Gradient Descent for Bures-Wasserstein Barycenters
  README.md
  RELEASES.md
  ot/backend.py
  ot/gaussian.py
  ot/utils.py
  test/test_backend.py
  test/test_gaussian.py
  test/test_utils.py
Labels: Tests, ot.utils, ot.backend, ot.gaussian

#722 Clean references in documentation
  RELEASES.md
  ot/bregman/_barycenter.py
  ot/bregman/_sinkhorn.py
  ot/da.py
  ot/dr.py
  ot/gromov/_gw.py
  ot/gromov/_partial.py
  ot/gromov/_semirelaxed.py
  ot/gromov/_utils.py
  ot/lp/_barycenter_solvers.py
  ot/mapping.py
  ot/optim.py
  ot/partial.py
  ot/smooth.py
  ot/stochastic.py
  ot/unbalanced/_mm.py
  ot/unbalanced/_sinkhorn.py
  ot/weak.py
Labels: ot.gromov, ot.lp, ot.gaussian, ot.unbalanced, ot.optim, ot.partial, ot.smooth, ot.weak, ot.dr

#716 [MRG] fix: make the documentation of _get_loss_unbalanced as a raw string
  RELEASES.md
  ot/unbalanced/_lbfgs.py
Labels: ot.gaussian, ot.unbalanced

#701 [MRG] Faster and/or backend compatible `ot.dist`
  CONTRIBUTORS.md
  README.md
  RELEASES.md
  ot/utils.py
  test/test_utils.py
Labels: Tests, ot.utils

#726 [MRG] New Quickstart guide and revamp User guide
  RELEASES.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/user_guide.rst
  examples/plot_OT_2D_samples.py
  examples/plot_quickstart_guide.py
  ot/bregman/_empirical.py
  ot/lp/__init__.py
  test/test_bregman.py
Labels: documentation, Tests, ot.lp, Examples
